.nav {
  width: 1477px;
  height: 70px;
  border-bottom: 2px solid #D8D8D8;
  background-image:
    linear-gradient(to left, #ffffff, #f2f3f5);
}

.icon-settings {
  margin-top: 10px;
}

.full-screen {
  width: 1477px;
  height: 983px;
  background-image:
    linear-gradient(to left, #fcf5f5, #f0f2ff);
}

.icon-home {
  max-width: 68px;
  max-height: 68px;
  margin-left: -10px;
}

.icon-settings {
  margin-right: 31px;
}

.search {
  padding-left: 0 !important;
}

.search-sort {
  margin-top: 17px;
  padding: 0 !important;
}

.search-window {
  width: 53.3px;
  height: 40px;
  border-radius: 100px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #eaeaea;
  padding-top: 10px;
  padding-left: 13px;
  margin-left: 115px;
}

.sort {
  padding: 0 !important;
}

.sort-title {
  width: 75px !important;
  max-height: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #7d7d7d;
  margin-left: 325px !important;
  padding: 0 !important;
}

.sort-dropdown {
  max-width: 132px;
  max-height: 40px;
  border-radius: 2px;
  background-color: #fefefe;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #6a6a6a;
  margin-right: 191px;
  padding: 0 !important;
}

.app-card-container {
  margin-top: 20px;
  margin-left: 100px;
}

.new-app-card {
  width: 270px !important;
  height: 250px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 30px !important;
  padding: 0 !important;
}

.new-app-button {
  background-image:
    linear-gradient(141deg, #c4cfff, #c7b1ff) !important;
  max-height: 66px;
  max-width: 66px;
  margin-top: 66px;
  margin-left: 100px;
}

.new-app-title {
  width: 151px;
  height: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #5d5d5d;
  margin-left: 56.5px;
  margin-top: 39px;
}

.app-preview-card {
  width: 270px !important;
  height: 250px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  padding: 0px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 30px !important;
}

.geometric-icon {
  margin-top: 26.9px;
  margin-left: 94.9px;
  max-width: 85.1px;
  max-height: 85.1px;
}

.app-title {
  width: 174px;
  height: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #5d5d5d;
  margin-left: 49px;
  margin-top: 32px;
}

.edit-timestamp {
  width: 120px;
  height: 19px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #c6c6c6;
  margin-left: 77px !important;
  margin-top: 6px;
}

.delete-icon, .download-icon {
  max-width: 30px;
  margin-top: 10px;
}

.delete-icon {
  margin-left: 110px;
}
